{% extends 'layout.html' %}
{% set subtitle = "Accommodation" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <h3>Accommodation Information</h3>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        <div class="thumbnail">
                            <img class="img-responsive img-overlay"
                                 src="{{ url_for('static', filename='images/sheraton.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <h4><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Sheraton Huzhou Hot Spring Resort</a></h4>
                    <p><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Website</a></p>
                    <p><strong>Address</strong>: 5858 Taihu Rd, Wuxing Qu, Huzhou Shi, Zhejiang Sheng, China, 313000</p>
                    <p><strong>Phone</strong>: +86 572 229 9999</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        <div class="thumbnail">
                            <img class="img-responsive img-overlay"
                                 src="{{ url_for('static', filename='images/sheraton.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <h4><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Sheraton Huzhou Hot Spring Resort</a></h4>
                    <p><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Website</a></p>
                    <p><strong>Address</strong>: 5858 Taihu Rd, Wuxing Qu, Huzhou Shi, Zhejiang Sheng, China, 313000</p>
                    <p><strong>Phone</strong>: +86 572 229 9999</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        <div class="thumbnail">
                            <img class="img-responsive img-overlay"
                                 src="{{ url_for('static', filename='images/sheraton.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <h4><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Sheraton Huzhou Hot Spring Resort</a></h4>
                    <p><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html">
                        Website</a></p>
                    <p><strong>Address</strong>: 5858 Taihu Rd, Wuxing Qu, Huzhou Shi, Zhejiang Sheng, China, 313000</p>
                    <p><strong>Phone</strong>: +86 572 229 9999</p>
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}
