{% extends 'layout.html' %}
{% set subtitle = "Committee" %}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <h3>Organizing Committee</h3>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-md-2">
                    <a href="https://people.nscl.msu.edu/~daniel/home.html">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/01pawel.png') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="https://people.nscl.msu.edu/~daniel/home.html">
                        Pawel Danielewicz</a></h4>
                    <p>Michigan State University</p>
                </div>

                <div class="col-md-2">
                    <a href="http://www.tamuc.edu/academics/colleges/scienceEngineeringAgriculture/departments/physicsAstronomy/facultyStaff/drBaoAnLi.aspx">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/02baoan.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4>
                        <a href="http://www.tamuc.edu/academics/colleges/scienceEngineeringAgriculture/departments/physicsAstronomy/facultyStaff/drBaoAnLi.aspx">
                            Bao-An Li
                        </a></h4>
                    <p>Texas A&M University-Commerce</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a href="http://fias.uni-frankfurt.de/~liqf/">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/03qingfeng.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://fias.uni-frankfurt.de/~liqf/">Qingfeng Li</a></h4>
                    <p><strong>Chair</strong>, Huzhou University</p>
                </div>

                <div class="col-md-2">
                    <a href="http://www.phys-hutc.net/people/LiuYanxin.htm">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/04yanxin.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://www.phys-hutc.net/people/LiuYanxin.htm">Yanxin Liu</a></h4>
                    <p>Huzhou University</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail person-thumbnail">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='images/committee/05caiwan.jpg') }}"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Caiwan Shen</h4>
                    <p>Huzhou University</p>
                </div>

                <div class="col-md-2">
                    <a href="http://www.phy.pku.edu.cn/~frxu/professor.html">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/06furong.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://www.phy.pku.edu.cn/~frxu/professor.html">Furong Xu</a></h4>
                    <p>Peking University</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a href="http://www.phy.pku.edu.cn/personnel/dtp/yeyl.xml">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/07yanlin.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://www.phy.pku.edu.cn/personnel/dtp/yeyl.xml">Yanlin Ye</a>
                    </h4>
                    <p>Peking University</p>
                </div>

                <div class="col-md-2">
                    <a href="http://www.phys-hutc.net/people/YuShaoying.htm">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/08shaoying.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://www.phys-hutc.net/people/YuShaoying.htm">
                        Shaoying Yu</a></h4>
                    <p>Huzhou University</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a href="http://mse.bnu.edu.cn/hkxyweb/zhangfengshou.htm">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/09fengshou.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://mse.bnu.edu.cn/hkxyweb/zhangfengshou.htm">
                        Fengshou Zhang</a></h4>
                    <p>Beijing Normal University</p>
                </div>

                <div class="col-md-2">
                    <a href="http://www.imp.cas.cn/rcjy/brjh/zxh/201110/t20111029_3386976.html">
                        <div class="thumbnail person-thumbnail">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/committee/10xiaohong.jpg') }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><a href="http://www.imp.cas.cn/rcjy/brjh/zxh/201110/t20111029_3386976.html">
                        Xiaohong Zhou</a></h4>
                    <p>Institute of Modern Physics, Chinese Academy of Science</p>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="section-header">
    <h3>Sponsors</h3>
</div>

<div class="section-content sponsors">
    <div class="row ">
        <div class="col-md-6">
            <a href="http://www.hutc.zj.cn/english">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/hzulogo.png') }}"/>
                    <div class="caption">Huzhou University (H.U.)</div>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="http://english.pku.edu.cn/">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/pkulogo_red.png') }}"/>
                    <div class="caption">Peking University (PKU)</div>
                </div>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="http://www.ccast.ac.cn">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/ccastlogo.jpg') }}"/>
                    <div class="caption">China Center of Advanced Science and Technology (CCAST)
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="http://english.bnu.edu.cn/">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/bnulogo.jpg') }}"/>
                    <div class="caption">Beijing Normal University (BNU)</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="http://english.imp.cas.cn/">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/implogo.png') }}"/>
                    <div class="caption">Institute of Modern Physics (IMP) Chinese Academy of
                        Sciences
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

