{% extends 'layout.html' %}
{% set subtitle = "Home" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Announcement
            </div>
            <div class="panel-body">
		<!-- Place Announcements Here --> 
		The deadline of registration is May 1st, 2017. Register <a href="{{ url_for('register') }}">here</a>.
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <h3>Introduction</h3>
        </div>

        <div class="text-center" style="padding-bottom:15px;">
            <img class="img-thumbnail" src="{{ url_for('static', filename='images/huzhou.jpg') }}"/>
        </div>

        <div class="section-content">
            <p class="text-info"><strong>The China-U.S. Theory Institute for Physics with Exotic
                Nuclei (CUSTIPEN), Huzhou University (H.U.) will organize the
                Huzhou- CUSTIPEN Workshop on Spectroscopy and Reactions of
                Exotic Nuclei, taking place from July. 3 to 9, 2017 in Huzhou,
                Zhejiang, China.</strong></p>
            <p>
                Established in May, 2013, CUSTIPEN has been playing the role of
                nurturing collaborations between U.S. and Chinese scientists in
                pursuit of a basic understanding of exotic nuclei and of their
                functions in astrophysics and other areas. </p>

            <p>
                Following the history of CUSTIPEN workshops, the main purpose of
                this meeting is to bring together theorists and experimentalists
                with interests in the physics of radioactive nuclei to review
                recent progress, exchange ideas and build collaborations to tackle
                new challenges of the field. We wish to continue exploring various
                forms of collaborative endeavors in theories and experiments relevant
                to the science programs to be carried out at various rare isotope
                beam facilities around the world. Physicists from all countries
                are welcomed to attend this workshop.
            </p>
            <p><strong>Deadline of registration: May 1st, 2017</strong></p>
            <div class=""><a href="{{ url_for('register') }}" class="btn btn-primary btn-block btn-lg">
                Register Now
            </a></div>
        </div>

        <div class="section-header">
            <h3>Topics</h3>
        </div>

        <div class="section-content">
            <p>1. Spectroscopy of unstable nuclei</p>
            <p>2. Gamma-ray spectra induced by fission/fusion </p>
            <p>3. Advanced models for nuclear spectroscopy </p>
            <p>4. Heavy-ion collisions with neutron-rich beams</p>
            <p>5. Synthesis of super-heavy elements</p>
        </div>

        <div class="section-header">
            <h3>Sponsors</h3>
        </div>


        <div class="section-content sponsors">
            <div class="row ">
                <div class="col-md-6">
                    <a href="http://www.hutc.zj.cn/english">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/hzulogo.png') }}"/>
                            <div class="caption">Huzhou University (H.U.)</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6">
                    <a href="http://english.pku.edu.cn/">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/pkulogo_red.png') }}"/>
                            <div class="caption">Peking University (PKU)</div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="http://www.ccast.ac.cn">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/ccastlogo.jpg') }}"/>
                            <div class="caption">China Center of Advanced Science and Technology
                                (CCAST)
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="http://english.bnu.edu.cn/">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/bnulogo.jpg') }}"/>
                            <div class="caption">Beijing Normal University (BNU)</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="http://english.imp.cas.cn/">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/implogo.png') }}"/>
                            <div class="caption">Institute of Modern Physics (IMP) Chinese Academy of
                                Sciences
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
