<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ subtitle }} | Huzhou-CUSTIPEN Workshop 2017</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">

</head>

<body>

<div class="container main-container">
    <div class="header">
        <h1>Huzhou-CUSTIPEN Workshop 2017</h1>
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <h2>
                    On Spectroscopy and Reactions of Exotic Nuclei
                    <div style="height: 0.5em;"></div>
                    <span class="glyphicon glyphicon-calendar"></span>
                    Jul 3 - 9, 2017
                    <span style="width: 1em; display: inline-block;"></span>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Huzhou, Zhejiang, China
                </h2>
            </div>
            <div class="col-md-2 col-lg-2" style="margin-top: 20px;">
                <a href="{{ url_for('register') }}">
                    <button class="btn btn-lg btn-default hidden-sm hidden-xs">Register Now</button>
                </a>
            </div>
        </div>
    </div>


    {% set navigation_bar = [
    (url_for('home'), 'index', 'Index'),
    (url_for('committee'), 'committee', 'Committee'),
    (url_for('program'), 'program', 'Program'),
    (url_for('register'), 'register', 'Register'),
    (url_for('photos'), 'photos', 'Photos'),
    (url_for('presentations'), 'presentations', 'Presentations'),
    (url_for('travel'), 'travel', 'Travel Info'),
    (url_for('accommodation'), 'accommodation', 'Accommodation')
    ] -%}

    {% set navigation_bar_2 = [
    (url_for('edit'), 'edit', 'Edit Information'),
    (url_for('logout'), 'logout', 'Log out')
    ] -%}

    {% set active_page = active |default('index') -%}
    {% include 'navbar-top.html' %}

    <div class="row main-content">
        <div class="col-md-3 hidden-xs hidden-sm">
            {% include 'navbar-left.html' %}
        </div>


        <div class="col-md-9">
            <div class="content-container">

                {% block body %} {% endblock %}


            </div>
        </div>
    </div>

    <div class="footer">
        <div class="text-center">
            <hr/>
            &copy; 2017, CUSTIPEN, Peking University.
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/npm.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $('.datepicker input').datepicker({
        format: 'yyyy/mm/dd',
    });
</script>
</body>
</html>

