<ul class="nav nav-pills nav-pills nav-stacked">
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
    <div class="nav-divider"></div>
    {% if session.get('logged_in') %}
    {% for href, id, caption in navigation_bar_2 %}
    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
    {% else %}
    <li{% if "login" == active_page %}　class="active"{% endif %}><a href="{{ url_for('login') }}">Login</a></li>
    {% endif %}
</ul>
