{% extends 'layout.html' %}
{% set subtitle = "Photos" %}
{% block body %}
<div class="row">
    <div class=" section-header col-lg-12">
        <h3 >Photos</h3>
    </div>
</div>

<div class="row">
    {% for entry in entries %}
    <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ url_for('uploaded_file', filename=entry['url']) }}">
            <img class="img-responsive"
                 src="{{url_for('uploaded_file', filename=entry['url'])|thumbnail('400x300', crop='fit')}}" alt="">
        </a>
    </div>
    {% endfor %}
</div>

<div class="row">
    <nav class="col-md-12">
        <ul class="pagination">
            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" {% if pagination.has_prev %}
                   href="{{ url_for('photos', page=pagination.page - 1) }}"
                   {% endif %}>Previous</a>
            </li>
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('photos', page=pagination.page - 1) }}">{{pagination.page - 1}}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="{{ url_for('photos', page=pagination.page) }}">{{pagination.page}}</a>
            </li>
            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('photos', page=pagination.page + 1) }}">{{pagination.page +
                    1}}</a>
            </li>
            {% endif %}
            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link"
                   {% if pagination.has_next %}
                   href="{{ url_for('photos', page=pagination.page + 1) }}"
                   {% endif %}>Next</a>
            </li>
        </ul>
    </nav>
</div>

{%　endblock　%}
