{% extends 'layout.html' %}
{% set subtitle = "Presentations" %}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <h3>Dec. 12, 2016</h3>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                            <tr class="active">
                                <th colspan="2">
                                    Introduction on the HIAF Project and the Related Physics <br>
                                    Chairperson: Wei-Ping Liu, China Institute of Atomic Energy
                                </th>
                            </tr>
                            <tr>
                                <td class="col-md-2">08:30-08:40</td>
                                <td>Welcome Address by Yan-Lin Ye from Peking University, Co-chair of CUSTIPEN
                                    and President of Chinese Nuclear Physics Society
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">08:40-09:15</td>
                                <td>High Intensity Heavy Ion Accelerator Facility (HIAF) and its Physics Goals<br>
                                    Xiao-Hong Zhou, Institute of Modern Physics, CAS
                                </td>
                            </tr>
                            <tr class="active">
                                <th colspan="2">
                                    New Results and Plans at Advanced Rare Isotope Beam Facilities<br>
                                    Chairperson: Joe Natowitz, Texas A&M University
                                </th>
                            </tr>
                            <tr>
                                <td class="col-md-2">10:15-10:50</td>
                                <td>FRIB Status Update, and the Problem of Establishing the Correspondence Between
                                    an Experimental Nuclear State and a Structure Predicted by Theory <br>
                                    Wolfgang Mittig, Michigan State University
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">10:50-11:25</td>
                                <td>Nuclear Astrophysics at IMP <br>
                                    Xiao-Dong Tang, Institute of Modern Physics, CAS
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">11:25-12:00
                                </td>
                                <td>Mass Measurements of Short-lived Neutron-deficient Nuclei at CSR <br>
                                    Yu-Hu Zhang, Institute of Modern Physics, CAS

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="section-header">
            <h3>Dec. 13, 2016</h3>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr class="active">
                            <th colspan="2">
                                Introduction on the HIAF Project and the Related Physics <br>
                                Chairperson: Wei-Ping Liu, China Institute of Atomic Energy
                            </th>
                        </tr>
                        <tr>
                            <td class="col-md-2">08:30-08:40</td>
                            <td>Welcome Address by Yan-Lin Ye from Peking University, Co-chair of CUSTIPEN
                                and President of Chinese Nuclear Physics Society
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">08:40-09:15</td>
                            <td>High Intensity Heavy Ion Accelerator Facility (HIAF) and its Physics Goals<br>
                                Xiao-Hong Zhou, Institute of Modern Physics, CAS
                            </td>
                        </tr>
                        <tr class="active">
                            <th colspan="2">
                                New Results and Plans at Advanced Rare Isotope Beam Facilities<br>
                                Chairperson: Joe Natowitz, Texas A&M University
                            </th>
                        </tr>
                        <tr>
                            <td class="col-md-2">10:15-10:50</td>
                            <td>FRIB Status Update, and the Problem of Establishing the Correspondence Between
                                an Experimental Nuclear State and a Structure Predicted by Theory <br>
                                Wolfgang Mittig, Michigan State University
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">10:50-11:25</td>
                            <td>Nuclear Astrophysics at IMP <br>
                                Xiao-Dong Tang, Institute of Modern Physics, CAS
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">11:25-12:00
                            </td>
                            <td>Mass Measurements of Short-lived Neutron-deficient Nuclei at CSR <br>
                                Yu-Hu Zhang, Institute of Modern Physics, CAS

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section-header">
            <h3>Dec. 14, 2016</h3>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr class="active">
                            <th colspan="2">
                                Introduction on the HIAF Project and the Related Physics <br>
                                Chairperson: Wei-Ping Liu, China Institute of Atomic Energy
                            </th>
                        </tr>
                        <tr>
                            <td class="col-md-2">08:30-08:40</td>
                            <td>Welcome Address by Yan-Lin Ye from Peking University, Co-chair of CUSTIPEN
                                and President of Chinese Nuclear Physics Society
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">08:40-09:15</td>
                            <td>High Intensity Heavy Ion Accelerator Facility (HIAF) and its Physics Goals<br>
                                Xiao-Hong Zhou, Institute of Modern Physics, CAS
                            </td>
                        </tr>
                        <tr class="active">
                            <th colspan="2">
                                New Results and Plans at Advanced Rare Isotope Beam Facilities<br>
                                Chairperson: Joe Natowitz, Texas A&M University
                            </th>
                        </tr>
                        <tr>
                            <td class="col-md-2">10:15-10:50</td>
                            <td>FRIB Status Update, and the Problem of Establishing the Correspondence Between
                                an Experimental Nuclear State and a Structure Predicted by Theory <br>
                                Wolfgang Mittig, Michigan State University
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">10:50-11:25</td>
                            <td>Nuclear Astrophysics at IMP <br>
                                Xiao-Dong Tang, Institute of Modern Physics, CAS
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">11:25-12:00
                            </td>
                            <td>Mass Measurements of Short-lived Neutron-deficient Nuclei at CSR <br>
                                Yu-Hu Zhang, Institute of Modern Physics, CAS

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}